GOOGLE_ACCOUNT_FILE=''

#WebScrapping Varialbles
MAX_PAGES=
MIN_PAGES=
MAX_PAGES_DEFAULT
DEPTH_MIN
DEPTH_MAX
DEPTH_DEFAULT

#AppConfig
DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase


#SQLParser
DB_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

#Embedding
VECTOR_DIM=1024
EMBEDDING_MODEL_PATH=''